.section{
    padding: 9rm 0 7rm;
    text-align: center;
}
.section-heading, .section-description{
    margin-bottom: 1.2rem;
}
.Showcase-img{
    position: relative;
    max-width: 70%;
    margin: 3rem auto -12rem;
}
.section-a{
    background-image: url('../img/section-bg.jpg');
    background-size: cover;
    color: white;
    padding-bottom: 5rem;
}
.section-a .fa{
    font-size: 40px;
    margin-bottom: .5rem;
    color: #b4e6fb;
}
.section-a h5{
    margin-bottom: .4rem;
}
.section-c{
    background-image: url('../img/section-bg.jpg');
    background-size: cover;
    color: white;
}
@media(min-with: 750px){
    .Showcase-heading{
        font-size: 3.0rem;
        padding-top: 11rem;
    } 
}